## This is a notebook for one day sampling to find out where and when the taxi drivers are staying over one place for a certain period.

In [4]:
import numpy as np
import pylab as pl
import pandas as pd
from __future__ import print_function, division
import geopy.distance

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [5]:
PATH = 'I:\\COF\\COF\\Analytics_and_Automation_Engineering\\bc_sample.csv'

In [7]:
# read file to csv
df1 = pd.read_csv(PATH)

In [76]:
df1.head()

,Unnamed: 0,VendorID,shl_number,hack_number,lpep_datetime,latitude,longitude,type
0,1,1,AA145,694171.0,2015-12-20 00:00:00,-73.898824,40.872401,10
1,2,1,AA423,5607672.0,2015-12-20 00:00:00,-73.997495,40.598769,10
2,3,1,AB789,0.0,2015-12-20 00:00:00,-73.947208,40.793375,10
3,4,1,AB827,5627575.0,2015-12-20 00:00:00,-73.943447,40.810679,10
4,5,1,AC295,5550312.0,2015-12-20 00:00:00,-73.931781,40.765038,10

In [96]:
# take of look of the cars
df1.sort_values(by = 'shl_number').groupby("shl_number").count().head() # how many cars was

,Unnamed: 0,VendorID,hack_number,lpep_datetime,latitude,longitude,type
shl_number,,,,,,,
AA001,419,419,419,419,419,419,419
AA002,358,358,358,358,358,358,358
AA003,373,373,373,373,373,373,373
AA004,254,254,254,254,254,254,254
AA005,139,139,139,139,139,139,139

In [14]:
# sort the table with car id and time
df_sort = df1.sort_values(by = ['shl_number', 'lpep_datetime'])

In [95]:
## calculate distance from coordinates
# dist = gpxpy.geo.haversine_distance(lat1, lon1, lat2, lon2)
lis = []
# Vincenty, with an accurate ellipsoidal model of the earth.
for i in range(len(df_sort)):
    if i > 0:
        coords_1 = (df_sort['latitude'].values[i-1], df_sort['longitude'].values[i-1])
        coords_2 = (df_sort['latitude'].values[i], df_sort['longitude'].values[i])
        lis.append(geopy.distance.vincenty(coords_1, coords_2).km)

In [47]:
len(df_sort)

1980810

In [81]:
# the distance between n points, the number of distance is n-1, so we insert a number 0 to the first of the list.
lis.insert(0, 0)

In [82]:
len(lis) # make sure the length of list is equal to length of the data frame

1980810

In [85]:
df_new = df_sort.copy()
df_new["distance"] = np.array(lis)*1000

In [92]:
pwd

'C:\\Users\\XuL\\Desktop'

In [103]:
df_new

,Unnamed: 0,VendorID,shl_number,hack_number,lpep_datetime,latitude,longitude,type,distance
1039,1040,2,AA001,0.0,2015-12-20 00:00:42,40.842333,-73.931205,10,0.000000
5274,5275,2,AA001,0.0,2015-12-20 00:02:42,40.833033,-73.939413,10,1243.340365
8763,8764,2,AA001,0.0,2015-12-20 00:04:42,40.839017,-73.937195,10,690.300222
11712,11713,2,AA001,0.0,2015-12-20 00:07:03,40.839138,-73.937217,10,13.627233
20356,20357,2,AA001,0.0,2015-12-20 00:09:03,40.839018,-73.937178,10,13.713990
16776,16777,2,AA001,0.0,2015-12-20 00:11:03,40.839290,-73.937122,10,30.547784
26608,26609,2,AA001,0.0,2015-12-20 00:13:03,40.839095,-73.937115,10,21.662278
26469,26470,2,AA001,0.0,2015-12-20 00:15:03,40.839273,-73.937300,10,25.209143
32565,32566,2,AA001,0.0,2015-12-20 00:17:04,40.838878,-73.937237,10,44.188747
34999,35000,2,AA001,0.0,2015-12-20 00:19:03,40.839208,-73.937262,10,36.707369
39866,39867,2,AA001,0.0,2015-12-20 00:21:03,40.839295,-73.937310,10,10.454395
39508,39509,2,AA001,0.0,2015-12-20 00:23:03,40.839467,-73.937298,10,19.092939
47576,47577,2,AA001,0.0,2015-12-20 00:25:03,40.839408,-73.937277,10,6.736367
49159,49160,2,AA001,0.0,2015-12-20 00:27:03,40.839245,-73.937178,10,19.943321
57108,57109,2,AA001,0.0,2015-12-20 00:29:03,40.839410,-73.937182,10,18.325626
58867,58868,2,AA001,0.0,2015-12-20 00:31:03,40.839473,-73.937307,10,12.671030
65937,65938,2,AA001,0.0,2015-12-20 00:33:04,40.839323,-73.937260,10,17.116923
63475,63476,2,AA001,0.0,2015-12-20 00:35:03,40.839505,-73.937302,10,20.482131
74969,74970,2,AA001,0.0,2015-12-20 00:37:03,40.839713,-73.937350,10,23.487823
70268,70269,2,AA001,0.0,2015-12-20 00:39:03,40.839550,-73.937318,10,18.330613
78713,78714,2,AA001,0.0,2015-12-20 00:41:03,40.839490,-73.937347,10,7.080486
134932,134933,2,AA001,0.0,2015-12-20 01:09:37,40.839067,-73.937227,10,48.084942
134888,134889,2,AA001,5253054.0,2015-12-20 01:10:51,40.839092,-73.937310,3,7.566423
134851,134852,2,AA001,5253054.0,2015-12-20 01:11:37,40.840322,-73.937690,10,140.269488
135871,135872,2,AA001,5253054.0,2015-12-20 01:12:43,40.841074,-73.939650,4,185.213558
142496,142497,2,AA001,5253054.0,2015-12-20 01:13:37,40.839930,-73.940655,10,152.721500
141584,141585,2,AA001,5253054.0,2015-12-20 01:15:37,40.834695,-73.944417,10,662.289842
149679,149680,2,AA001,5253054.0,2015-12-20 01:17:37,40.833713,-73.941428,10,274.624377
148988,148989,2,AA001,5253054.0,2015-12-20 01:19:27,40.833378,-73.941312,3,38.505751
152485,152486,2,AA001,5253054.0,2015-12-20 01:19:37,40.833377,-73.941303,10,0.747880
...,...,...,...,...,...,...,...,...,...
270069,270070,1,bb874,0.0,2015-12-20 02:29:27,-73.923341,40.668396,10,509.401736
270608,270609,1,bb874,0.0,2015-12-20 02:30:29,-73.931924,40.668879,10,958.043459
271340,271341,1,bb874,0.0,2015-12-20 02:31:30,-73.935395,40.669072,10,387.435730
277580,277581,1,bb874,0.0,2015-12-20 02:32:29,-73.942599,40.669442,10,804.102467
277514,277515,1,bb874,0.0,2015-12-20 02:33:30,-73.945173,40.668016,10,290.634335
278299,278300,1,bb874,0.0,2015-12-20 02:34:30,-73.945576,40.662049,10,189.679309
278833,278834,1,bb874,0.0,2015-12-20 02:35:30,-73.946122,40.657459,10,154.285809
279387,279388,1,bb874,0.0,2015-12-20 02:36:31,-73.947362,40.656913,10,139.416734
284697,284698,1,bb874,0.0,2015-12-20 02:37:31,-73.947023,40.653709,10,105.921012
285450,285451,1,bb874,0.0,2015-12-20 02:38:31,-73.946769,40.651237,10,81.425907
286130,286131,1,bb874,0.0,2015-12-20 02:39:31,-73.946353,40.647856,10,114.260807
286039,286040,1,bb874,0.0,2015-12-20 02:40:32,-73.945909,40.643730,10,136.708154
286906,286907,1,bb874,0.0,2015-12-20 02:41:32,-73.945322,40.638034,10,187.702309
293060,293061,1,bb874,0.0,2015-12-20 02:42:33,-73.944595,40.636500,10,93.956003
293109,293110,1,bb874,0.0,2015-12-20 02:43:33,-73.939646,40.636864,10,552.460636
293760,293761,1,bb874,0.0,2015-12-20 02:44:33,-73.936709,40.637013,10,327.823846
293855,293856,1,bb874,0.0,2015-12-20 02:45:34,-73.934875,40.634813,10,215.681216
294641,294642,1,bb874,0.0,2015-12-20 02:46:33,-73.934876,40.634815,10,0.127569
300474,300475,1,bb874,0.0,2015-12-20 02:47:34,-73.934880,40.634817,10,0.450686
300548,300549,1,bb874,0.0,2015-12-20 02:48:34,-73.934882,40.634822,10,0.271472
301437,301438,1,bb874,0.0,2015-12-20 02:49:34,-73.934884,40.634824,10,0.231609
301326,301327,1,bb874,0.0,2015-12-20 02:50:35,-73.934886,40.634829,10,0.271472
302582,302583,1,bb874,0.0,2015-12-20 02:51:35,-73.934889,40.634834,10,0.368752
307858,307859,1,bb874,0.0,2015-12-20 02:52:36,-73.934890,40.634835,10,0.115804
308415,308416,1,bb874,0.0,2015-12-20 02:53:35,-73.934889,40.634841,10,0.216406
309112,309113,1,bb874,0.0,2015-12-20 02:54:36,-73.934890,40.634847,10,0.216406
309638,309639,1,bb874,0.0,2015-12-20 02:55:41,-73.934893,40.634849,10,0.340476
309923,309924,1,bb874,0.0,2015-12-20 02:56:42,-73.934891,40.634848,10,0.225343
315603,315604,1,bb874,0.0,2015-12-20 02:57:44,-73.934892,40.634845,10,0.145087
315744,315745,1,bb874,0.0,2015-12-20 02:58:38,-73.934861,40.634846,10,3.459972

In [93]:
df_new.to_csv("2015-12-20_sample_for_capstone")

In [102]:
df_new[df_new["distance"] < 3].head(100) # 10 foot

,Unnamed: 0,VendorID,shl_number,hack_number,lpep_datetime,latitude,longitude,type,distance
1039,1040,2,AA001,0.0,2015-12-20 00:00:42,40.842333,-73.931205,10,0.000000
152485,152486,2,AA001,5253054.0,2015-12-20 01:19:37,40.833377,-73.941303,10,0.747880
199047,199048,2,AA001,5253054.0,2015-12-20 01:48:08,40.853177,-73.929307,10,0.905288
243675,243676,2,AA001,5253054.0,2015-12-20 02:14:24,40.870790,-73.900451,3,0.745408
267056,267057,2,AA001,5253054.0,2015-12-20 02:30:10,40.846847,-73.901068,10,2.181302
283637,283638,2,AA001,5253054.0,2015-12-20 02:40:05,40.846830,-73.901084,4,2.910218
282978,282979,2,AA001,0.0,2015-12-20 02:40:06,40.846827,-73.901087,4,0.418323
281608,281609,2,AA001,0.0,2015-12-20 02:40:10,40.846822,-73.901090,10,0.640638
312962,312963,2,AA001,5253054.0,2015-12-20 02:59:21,40.839015,-73.937135,10,2.951874
314923,314924,2,AA001,5253054.0,2015-12-20 03:01:21,40.839020,-73.937110,10,2.180367
319074,319075,2,AA001,5253054.0,2015-12-20 03:03:21,40.839032,-73.937133,10,2.355801
322084,322085,2,AA001,5253054.0,2015-12-20 03:07:22,40.838972,-73.937132,10,1.683354
328179,328180,2,AA001,0.0,2015-12-20 03:09:21,40.839018,-73.937142,4,0.000000
329257,329258,2,AA001,0.0,2015-12-20 03:09:22,40.839025,-73.937143,10,0.785050
391768,391769,2,AA001,5253054.0,2015-12-20 03:57:24,40.840688,-73.936692,10,2.498677
468038,468039,2,AA001,5253054.0,2015-12-20 05:07:26,40.834537,-73.944315,10,1.317180
481471,481472,2,AA001,5253054.0,2015-12-20 05:23:27,40.843980,-73.901968,10,2.556392
492420,492421,2,AA001,5253054.0,2015-12-20 05:25:27,40.843983,-73.901973,10,0.558659
492606,492607,2,AA001,5253054.0,2015-12-20 05:29:27,40.843948,-73.901935,10,1.251543
491734,491735,2,AA001,0.0,2015-12-20 05:32:36,40.843948,-73.901959,4,0.000000
498430,498431,2,AA001,0.0,2015-12-20 05:33:27,40.843948,-73.901937,10,1.880921
591256,591257,2,AA001,5253054.0,2015-12-20 07:49:19,40.806597,-73.964902,10,2.650129
648221,648222,2,AA001,5253054.0,2015-12-20 08:59:55,40.866112,-73.917907,10,1.671222
653449,653450,2,AA001,5253054.0,2015-12-20 09:07:55,40.870887,-73.913240,10,1.394228
655751,655752,2,AA001,5253054.0,2015-12-20 09:09:55,40.870883,-73.913220,10,1.727739
653930,653931,2,AA001,5253054.0,2015-12-20 09:11:55,40.870885,-73.913240,10,1.696514
656385,656386,2,AA001,5253054.0,2015-12-20 09:15:56,40.870928,-73.913327,10,2.639107
662215,662216,2,AA001,5253054.0,2015-12-20 09:17:56,40.870908,-73.913325,10,2.225647
663413,663414,2,AA001,5253054.0,2015-12-20 09:19:56,40.870920,-73.913297,10,2.716531
661153,661154,2,AA001,5253054.0,2015-12-20 09:21:56,40.870930,-73.913305,10,1.312552
...,...,...,...,...,...,...,...,...,...
951039,951040,2,AA003,0.0,2015-12-20 13:26:43,40.852610,-73.894897,10,2.721575
956304,956305,2,AA003,0.0,2015-12-20 13:28:44,40.852587,-73.894897,10,2.587490
956951,956952,2,AA003,0.0,2015-12-20 13:30:44,40.852595,-73.894875,10,2.048829
964665,964666,2,AA003,0.0,2015-12-20 13:32:44,40.852597,-73.894858,10,1.420776
965071,965072,2,AA003,0.0,2015-12-20 13:34:44,40.852610,-73.894845,10,1.854506
1090680,1090681,2,AA003,885580.0,2015-12-20 14:58:34,40.859415,-73.926292,10,0.921725
1237477,1237478,2,AA003,885580.0,2015-12-20 16:22:29,40.815315,-73.928301,4,1.541377
1235919,1235920,2,AA003,885580.0,2015-12-20 16:22:38,40.815328,-73.928300,10,1.479377
1261860,1261861,2,AA003,885580.0,2015-12-20 16:34:39,40.828145,-73.911003,10,1.631622
1260614,1260615,2,AA003,885580.0,2015-12-20 16:35:53,40.828137,-73.911036,4,2.897883
1258999,1259000,2,AA003,0.0,2015-12-20 16:36:39,40.828148,-73.911033,10,1.275372
1271026,1271027,2,AA003,0.0,2015-12-20 16:38:39,40.828138,-73.911007,10,2.503561
1267195,1267196,2,AA003,0.0,2015-12-20 16:40:39,40.828127,-73.911032,10,2.471148
1278682,1278683,2,AA003,0.0,2015-12-20 16:42:39,40.828125,-73.911042,10,0.864398
1276475,1276476,2,AA003,0.0,2015-12-20 16:44:39,40.828132,-73.911050,10,1.021654
1283557,1283558,2,AA003,0.0,2015-12-20 16:46:39,40.828120,-73.911055,10,1.366033
1282257,1282258,2,AA003,0.0,2015-12-20 16:48:45,40.828125,-73.911027,10,2.450916
1291400,1291401,2,AA003,0.0,2015-12-20 16:50:40,40.828138,-73.911020,10,1.581411
1290518,1290519,2,AA003,0.0,2015-12-20 16:52:40,40.828132,-73.911028,10,1.013595
1293502,1293503,2,AA003,0.0,2015-12-20 16:54:41,40.828113,-73.911032,10,2.063360
1310059,1310060,2,AA003,0.0,2015-12-20 17:00:40,40.828122,-73.911040,10,1.901900
1308979,1308980,2,AA003,0.0,2015-12-20 17:02:40,40.828128,-73.911052,10,1.229319
1314243,1314244,2,AA003,0.0,2015-12-20 17:04:40,40.828112,-73.911030,10,2.597857
1316584,1316585,2,AA003,0.0,2015-12-20 17:06:40,40.828123,-73.911040,10,1.539795
1349033,1349034,2,AA003,0.0,2015-12-20 17:22:40,40.848340,-73.898727,10,1.916087
1354960,1354961,2,AA003,0.0,2015-12-20 17:26:40,40.848323,-73.898690,10,0.621086
1379290,1379291,2,AA003,0.0,2015-12-20 17:36:41,40.855062,-73.894077,10,2.613451
1379547,1379548,2,AA003,0.0,2015-12-20 17:38:41,40.855053,-73.894077,10,0.932829
1387269,1387270,2,AA003,0.0,2015-12-20 17:40:41,40.855060,-73.894067,10,1.124530
1384455,1384456,2,AA003,0.0,2015-12-20 17:42:41,40.855053,-73.894052,10,1.467405